{% extends 'base.html' %}
{% block content %}
  <form class="" action="" method="post">
    {% csrf_token %}
    <br>
    <h3>You are about to delete the post below. Are you sure?</h3>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{ MEDIA_URL }}{{ post.image_url }}" alt="Picture of {{ object.title }}" />
          <div class="caption">
            <h3>{{ object.title }}</h3>
            <p>{{ object.description }}</p>
            <p>
              <input class="btn btn-success" type="submit" value="YES">
              <a class="btn btn-danger" href="{% url 'profile_view' %}">NO</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
