{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <br>
    <h1>Welcome to Imager</h1>
  </div>
  <div class="col-md-4">
    <br>
    {% if not request.user.is_authenticated %}
    <form class="" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ login_form.as_p }}
      <input type="submit" name="" value="Login">
    </form>
    {% endif %}
  </div>
</div>
<br>
<h2>All Posts</h2>
<h5>Limit 6 per page</h5>
<br>
<div class="row">
{% for post in object_list %}
  <div class="col-sm-6 col-md-4">
    <div class="image-container">
      <div class="thumbnail">
        <img src="{{ MEDIA_URL }}{{ post.image_url }}" alt="Picture of {{ post.title }}" />
        <div class="caption">
          <h3><a href="{% url 'post_detail_comment_create_view' post.id %}">{{ post.title }}</a></h3>
          <p>
            {{ post.description }}<br>
            <font size="1">By: {{ post.created_by }}</font>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
</div>
{% if is_paginated %}
<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}">
          <span>Previous</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">
          <span>Previous</span>
        </a>
      </li>
    {% endif %}
        {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}">
              <span>Next</span>
            </a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#">
              <span>Next</span>
            </a>
          </li>
        {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
